 article{

    align-text: center;

    padding: 20px;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 5px 5px 3px rgba(0. 0. 0. 0.25);
 }
img{
	width: 200px;
	height: 100%;

}
h2{
	text-align: center;
	margin: 0;
}
hr{
	text-align: center;
}
title{
    text-align: center;
}
carousel-item img{
   width: 400px;
   height: 200px;
}
.botones{
   margin: auto;
}
.botones button{
    padding: 10px 40px 10px 40px;
    background-color: white;
    color: orange;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.botones button:hover{
  background-color: orange;
  color: white;
}
body{
 
background-image: url();
    background-attachment: fixed;
background-position: 0,0;
    font-family: helvetica,arial,san-serif
    line-height:20px;
}
.img_2{
 width: 10%;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}
header
{
  background-color: #24282b;
	color: #fff;
  margin: 0;
  padding: 20px;
  min-height: 30px;
}

#menuToggle {
  margin-top:-000000000019px;
  top: 20px;
  left: 25px;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
header h2
{
  text-align: center;
  color: #fff;
  margin: 0;
}


